a{
 margin-right: 16px;
 text-decoration: none;
 color: black;
 font-size: xx-large;
}
.router-link-active{
text-decoration: underline;
  font-weight: bolder;
  color:white
}

a :link
{
  color: black;

}


