.div{
  display: flex;
  justify-content: space-around;
  background-color: red;
  padding: 20px;
}
.margin{
  margin-top: 500px
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
