<div class="flex">
  <H1 class="h1">ABOUT ME</H1>
  <img
    src="https://media.licdn.com/dms/image/C4D03AQGNd5IN34o_gw/profile-displayphoto-shrink_800_800/0/1644864806609?e=2147483647&v=beta&t=3P5fHWQisx9cna1r0ip3AnA_v27yLpHjc18bpQ5vOfQ"
    alt="my img"
    class="img"
  />
</div>

<p>
  MI NOMBRE ES ALEJANDRO RODRIGUEZ Y ES UN PLACER QUE HAYAIS LLEGADO HASTA AQUI,
  ESO SIGNIFICA QUE QUEREIS SABER UN POCO MAS DE MI. PUES OS VOY A CONTAR:
</p>
<p>
  SOY UN CHICO DE 27 AÑOS QUE ESTUDIÓ EMPRESARIALES EN LA UNIVERSIDAD DE
  SEVILLA, Y TRAS ELLO EMPECE A TRABAJAR EN BARES Y OTROS TRABAJOS QUE NO LE
  GUSTABA.
</p>
<p>
  UN DIA ME LLAMARON PARA TRABAJAR COMO ADMINISTRATIVO EN UNA EMPRESA
  INSTALADORA DE PLACAS SOLARES, Y LA VERDAD ES QUE ESTUVE TAN AGUSTO QUE SIGUE
  SIENDO MI TRABAJO ACTUAL.
</p>
<p>
  MIENTRAS HACIA LABORES COMO ADMINISTRATIVO TAMBIEN ME ENCOMENDARON OTRAS
  RELACIONADAS CON LA CREACION Y MANTENIEMIENTO DE SU WEB Y REDS SOCIALES, Y FUE
  ENTONCES CUANDO DESCUBRÍ CUANTO ME GUSTA LA PROGRAMACIÓN Y EL FUTURO LABORAL
  TAN AMPLIO QUE SUPONE.
</p>
<p>
  ESTA ES MI PEQUEÑA HISTORIA, PERO SI QUEREIS SEGUIR SABIENDO MÁS DE MI PODEIS
  ECHAR UN VISTAZO A MI
  <a
    href="https://www.linkedin.com/in/alejandro-rodriguez-asencio-full-stack-developer/"
    >LINKEDIN</a
  >
  E INCLUSO PODRIAMOS CONECTAR!
</p>
<p>HA SIDO UN PLACER PARA MI ESCRIBIR ESTAS LINEAS, UN GRAN SALUDO A TODOS!</p>
